@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Jakarta Sans";
  src: url(/fonts/PlusJakartaSans-VariableFont_wght.ttf);
}

@font-face {
  font-family: Inter;
  src: url(/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

@layer components {
  .column {
    @apply flex flex-col;
  }

  .fit {
    @apply w-fit h-fit;
  }

  .full {
    @apply w-full h-full;
  }

  .no-divider > .divider {
    @apply hidden;
  }

  .geeg-grid-cols-2 {
    grid-template-columns: 1.6fr 1fr;
  }

  .geeg-grid-cols-5 {
    grid-template-columns: 2fr 1fr 1fr 1fr 0fr;
  }

  .geeg-grid-rows-2 {
    grid-template-rows: repeat(2, minmax(0, 0.7fr));
  }

  .geeg-grid-rows-0-1 {
    grid-template-rows: 0fr 1fr;
  }

  .no-scroll {
    scrollbar-width: none;
  }

  .no-scroll::-webkit-scrollbar {
    width: 0px;
  }
  

  .dotted-border {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='rgb(234,234,234)' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='2' stroke-linecap='square'/%3e%3c/svg%3e");
  }
}
