@tailwind base; 
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Jakarta Sans';
  src: url(/fonts/PlusJakartaSans-VariableFont_wght.ttf);
}

@font-face {
  font-family: Inter;
  src: url(/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

@layer components {

  .column {
    @apply flex flex-col
  }

  .fit {
    @apply w-fit h-fit
  }

  .no-divider > .divider {
    @apply hidden;
  }

  .geeg-grid-cols-2 {
    grid-template-columns: 1.6fr 1fr;
  }

  .geeg-grid-cols-5 {
    grid-template-columns: 2fr 1fr 1fr 1fr 0fr;
  }

  .geeg-grid-rows-2 {
    grid-template-rows: repeat(2, minmax(0, .7fr));
  }

  .no-scroll {
    scrollbar-width: none;
  }

}